<p id="notice"><%= notice %></p>

<p>
  <strong>Uuid:</strong>
  <%= @velocity.uuid %>
</p>

<p>
  <strong>Garage num:</strong>
  <%= @velocity.garage_num %>
</p>

<p>
  <strong>T 8am:</strong>
  <%= @velocity.t_8am %>
</p>

<p>
  <strong>T 9am:</strong>
  <%= @velocity.t_9am %>
</p>

<p>
  <strong>T 10am:</strong>
  <%= @velocity.t_10am %>
</p>

<p>
  <strong>T 11am:</strong>
  <%= @velocity.t_11am %>
</p>

<p>
  <strong>T 12pm:</strong>
  <%= @velocity.t_12pm %>
</p>

<p>
  <strong>T 1pm:</strong>
  <%= @velocity.t_1pm %>
</p>

<p>
  <strong>T 2pm:</strong>
  <%= @velocity.t_2pm %>
</p>

<p>
  <strong>T 3pm:</strong>
  <%= @velocity.t_3pm %>
</p>

<p>
  <strong>T 4pm:</strong>
  <%= @velocity.t_4pm %>
</p>

<p>
  <strong>T 5pm:</strong>
  <%= @velocity.t_5pm %>
</p>

<p>
  <strong>T 6pm:</strong>
  <%= @velocity.t_6pm %>
</p>

<p>
  <strong>T 7pm:</strong>
  <%= @velocity.t_7pm %>
</p>

<p>
  <strong>T 8pm:</strong>
  <%= @velocity.t_8pm %>
</p>

<p>
  <strong>T 9pm:</strong>
  <%= @velocity.t_9pm %>
</p>

<p>
  <strong>T 10pm 8am:</strong>
  <%= @velocity.t_10pm_8am %>
</p>

<%= link_to 'Edit', edit_velocity_path(@velocity) %> |
<%= link_to 'Back', velocities_path %>
