<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @information.image.url(:medium) %>
</p>

<p>
  <strong>Garage name:</strong>
  <%= @information.garage_name %>
</p>

<p>
  <strong>Total parking space:</strong>
  <%= @information.total_parking_space %>
</p>

<p>
  <strong>Position:</strong>
  <%= @information.position %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @information.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @information.latitude %>
</p>
<h2>Tariffs</h2>
<%= render @information.tariffs %>
<h2>Add a tariff:</h2>
<%= render "tariffs/form" %>

<%= link_to 'Edit', edit_information_path(@information) %> |
<%= link_to 'Back', information_index_path %>
