<%= form_for([@information, @information.tariffs.build]) do |f| %>
  <div class="field">
    <%= f.label :time_range %><br>
    <%= f.text_field :time_range %>
  </div>
  <div class="field">
    <%= f.label :rates %><br>
    <%= f.text_field :rates %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
